/target
/nets
/checkpoints
/.cargo
/data
/inbox
/.idea
/.vscode
/visualisation

*.epd
*.txt
*.bin
*.data
*.binpack
*.network
logs

docs/experiments
yaneuraou/
__pycache__
scripts/

images/bulletou-logo-mascot.png
